<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="file" value="E:\WorkWithFiles\RadSaFajlovima\RadSaFajlovima\file.txt" />
		<add key="nesto" value="jabuka" />
		<add key="tamo" value="kruska" />
	</appSettings>
</configuration>